header.page-header {
  margin-bottom: 6%;
}

.field-name-field-tags,
.field-name-field-tags .field-item {
  display: inline-block;
}

.field-name-field-tags .field-item:not(:last-child) {
  padding-right: 10px;
}

.block-system.hentry > .content {
  padding: 0 10% 10%;
}

div.tabs {
  padding: 3% 7.6923%;
  margin: 0;
}

.tabs ul {
  border-collapse: collapse;
  height: auto;
  line-height: normal;
  list-style: outside none none;
  margin: 5px;
  padding: 0 0 0 1em;
  white-space: nowrap;
}

.tabs a,
.tabs ul li {
  display: inline;
}

.item-list ul.pager {
  margin: 0;
  padding: 10px;
}

.item-list ul.pager li {
  margin: 0;
}

.pager .pager-item a {
  font-size: 13px;
}